@use '../settings/SettingsTab.module' as SettingsTab;
@import '../../App';

.lose {
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $global-red;
    font-size: clamp(20px, 3vw, 40px);
    padding: 5px;
    border: 5px solid $global-red;
  }
}