@import '../../App';

.timer {
  color: $global-black;
  font-size: clamp(22px, 3vw, 42px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    font-size: clamp(20px, 3vw, 40px);
  }

  &__digits {
    width: 30px;
    height: clamp(20px, 3vw, 40px);
    text-align: right;
  }
}