@import './../App';

.win {
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $global-white;
    font-size: clamp(20px, 3vw, 40px);
    padding: 5px;
    border: 5px solid $global-white;
  }
}