@import url('https://fonts.googleapis.com/css2?family=Protest+Strike:wght@400;500&family=Bungee+Spice&family=Orbitron:wght@600&display=swap');

$global-white: #ffffff;
$global-black: #000000;
$global-grey: #858282;
$global-yellow: #F2E7AC;
$global-second-yellow: #F2EAC2;
$global-third-yellow: #f6f1df;
$global-green: #D9D162;
$global-second-green: #778C4A;
$global-orange: #F28705;
$global-red: #e81212;

$global-font: 'Protest Strike';
$global-font-second: 'Orbitron';
$global-font-header: 'Bungee Spice';
$global-font-style: normal;
$global-font-weight: 400;

$screen-tab-1920: 1920px;
$screen-tab-1366: 1366px;
$screen-tab-1024: 1024px;
$screen-tab-580: 580px;
$screen-tab-320: 320px;

body {
  background-color: $global-yellow;
}

.App {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vw auto 1vw;
    gap: 10px;
    font-family: $global-font;
    font-stretch: $global-font-style;
    font-weight: $global-font-weight;
  }

  &__header {
    display: flex;
    font-size: clamp(30px, 6vw, 100px);
    color: $global-black;
    margin: 2vw auto 0;
    font-family: $global-font-header;
  }

  &__buttons {
    font-family: $global-font;
    font-size: clamp(20px, 3vw, 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__button {
    //font-family: $global-font;
    //font-size: clamp(20px,3vw,60px);
  }
}

@media screen and (min-width: $screen-tab-580) {
  .App {
    &__buttons {
      flex-direction: row;
      gap: 60px;
    }
  }
}


